@model IEnumerable<BookStoreWebApp.DTOs.BookDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

    <div class="container text-center">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Price</p>
                            <p class="card-text">Available: @item.Stock</p>
                            <a asp-action="AddCart" asp-route-id="@item.Id" class="btn btn-primary">Add Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
